{% extends "layout.html" %}
{% block main %}
    <section>
        <div class="container-fluid min-vh-100" style="width: 80%;">
            <div class="row">
                <div class="col-sm-12 mb-5">
                    <h3 class="display-6 mb-4">Комменттэй хүргэлтүүд</h3>
    
                    <form id="form" method="POST" action="">
                        {{ form.csrf_token }}
                        <div class="row g-2">
                            <div class="col-md-3">
                                {{ form.date.label(class="form-control-label") }}
                                {% if form.date.errors %}
                                    {{ form.date(class="form-control is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for error in form.date.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ form.date(class="form-control") }}
                                {% endif %}
                            </div>
                            <div class="col-md-3 align-self-center">
                                {{ form.submit(class="btn btn-outline-success m-0") }}
                            </div>
                        </div>
                    </form>
    
                    <form id="form" method="POST" action="">
                        {{ form1.csrf_token }}
                        <div class="table-responsive-sm">
                            <table id="inventory-table" class="table table-hover display">
                                <thead>
                                    <tr>
                                        <th scope="col" class="bg-grad">ID</th>
                                        <th scope="col" class="bg-grad">Коммент</th>
                                        <th scope="col" class="bg-grad">Хаяг/Утас</th>
                                        <th scope="col" class="bg-grad">Харилцагч</th>
                                        <th scope="col" class="bg-grad">Төлөв</th>
                                        <th scope="col" class="bg-grad">Хүргэх огноо</th>
                                        <th scope="col" class="bg-grad">Бүс</th>
                                        <th scope="col" class="bg-grad">Жолооч</th>
                                        <th scope="col" class="bg-grad">Нээгдсэн</th>
                                        <th scope="col" class="bg-grad"></th>
                                    </tr>
                                </thead>
    
                                <tbody>
                                    {% for order in orders %}
                                        <tr>
                                            <td>
                                                <a class="text-dark" href="{{ url_for('manager_order.manager_order_detail', order_id=order.id) }}">ID{{ order.id }} {{ form1.order_id(class="form-control", value=order.id) }}</a>
                                            </td>
                                            <td>
                                                <p>
                                                    <a class="text-dark" href="#">{{ order.driver_comment }}</a>
                                                </p>
                                            </td>
                                            <td>
                                                <p>
                                                    {% if order.addresses.city is not none %}, {{ order.addresses.city }}{% endif %}{% if order.addresses.district is not none %}{{ order.addresses.district }}{% endif %}{% if order.addresses.khoroo is not none %}, {{ order.addresses.khoroo }}-р хороо{% endif %}{% if order.addresses.aimag is not none %}{{ order.addresses.aimag }}{% endif %}{% if order.addresses.address is not none %}, {{ order.addresses.address }}{% endif %}{% if order.addresses.phone is not none %}, {{ order.addresses.phone }}{% endif %}{% if order.addresses.phone_more is not none %}, {{ order.addresses.phone_more }}{% endif %}
                                                </p>
                                            </td>
                                            <td>
                                                <a class="text-dark" href="{{ url_for('manager_order.manager_order_detail', order_id=order.id) }}">
                                                    <p>{{ order.user.company_name | capitalize }}</p>
                                                </a>
                                            </td>
                                            <td style="text-align: center;">
                                                {% if order.status == "unassigned" %}
                                                    {% if order.is_postphoned %}
                                                        <p class="text-info">хойшлуулсан</p>
                                                        <p>хойшлуулсан огноо:
                                                            {{ order.postphoned_date | datefilter }}</p>
                                                        <p>Коммент:
                                                            {{ order.driver_comment }}</p>
                                                    {% else %}
                                                        <p class="text-danger">хувиарлагдаагүй</p>
                                                    {% endif %}
                                                {% elif order.status == "assigned" %}
                                                    <p class="text-primary">хувиарлагдсан</p>
                                                {% elif order.status == "completed" %}
                                                    {% if order.is_postphoned %}
                                                        <p class="text-success">хүргэгдсэн*</p>
                                                    {% else %}
                                                        <p class="text-success">хүргэгдсэн</p>
                                                    {% endif %}
                                                {% elif order.status == "cancelled" %}
                                                    <p class="text-danger">цуцлагдсан</p>
                                                {% elif order.status == "postphoned" %}
                                                    <p class="text-info">хойшлуулсан</p>
                                                    <p class="text-nowrap">хойшлуулсан огноо:
                                                        {{ order.postphoned_date }}</p>
                                                    <p>
                                                        Коммент:
                                                        {{ order.driver_comment }}
                                                    </p>
                                                {% endif %}
    
                                                {% if (diffdates(cur_date, order.modified_date) | round | int) <= 0 %}
                                                    <p>0 минутын өмнө</p>
                                                {% else %}
                                                    {% if (diffdates(cur_date, order.modified_date) | round | int ) > 60 and (diffdates(cur_date, order.modified_date) | round | int ) < 1440 %}
                                                        <p>{{ ((diffdates(cur_date, order.modified_date)) / 60 ) | int }}
                                                            цаг
                                                            {{ ((diffdates(cur_date, order.modified_date)) % 60 ) | int }}
                                                            минутын өмнө</p>
                                                    {% elif (diffdates(cur_date, order.modified_date) | round | int ) < 60 %}
                                                        <p>{{ ((diffdates(cur_date, order.modified_date)) % 60 ) | int }}
                                                            минутын өмнө</p>
                                                        {% elif (diffdates(cur_date, order.modified_date) | round | int ) > 1440 %}
                                                    {% endif %}
                                                {% endif %}
                                            </td>
                                            <td>
                                                <p>{{ order.delivery_date.strftime('%Y-%m-%d') }}</p>
                                            </td>
    
                                            <td>
                                                {% if order.region is none %}
                                                    <p class="text-danger">бүсчлэгдээгүй</p>
                                                {% else %}
                                                    <p class="text-success">{{ order.region }}</p>
                                                {% endif %}
                                            </td>
                                            <td>
                                                {% if order.assigned_driver_id is none %}
                                                    <p class="text-danger">хувиарлагдаагүй</p>
                                                    {% if order.is_postphoned %}
                                                        {% if order.status == "assigned" or order.status == "completed" %}
                                                            <p class="text-success">{{ order.driver.firstname | capitalize }}</p>
                                                            <p class="text-secondary">хойшлуулсан жолооч:
                                                                {{ order.postphoned_driver.lastname[0] | capitalize }}. {{ order.postphoned_driver.firstname | capitalize }}</p>
                                                        {% else %}
                                                            <p class="text-secondary">хойшлуулсан жолооч:
                                                                {{ order.postphoned_driver.lastname[0] | capitalize }}. {{ order.postphoned_driver.firstname | capitalize }}</p>
                                                        {% endif %}
                                                    {% else %}
                                                        {% if  order.assigned_driver_id is not none %}
                                                            <p class="text-success">{{ order.driver.firstname | capitalize }}</p>
                                                        {% endif %}
                                                    {% endif %}
                                                {% else %}
                                                    {% if order.is_postphoned %}
                                                        <p class="text-success">{{ order.driver.firstname | capitalize }}</p>
                                                        {% if order.status == "assigned" or order.status == "completed"%}
                                                            <p class="text-secondary">хойшлуулсан жолооч: {{ order.postphoned_driver.lastname[0] | capitalize }}. {{ order.postphoned_driver.firstname | capitalize }}</p>
                                                        {% else %}
                                                            <p class="text-secondary">хойшлуулсан жолооч: {{ order.postphoned_driver.lastname[0] | capitalize }}. {{ order.postphoned_driver.firstname | capitalize }}</p>
                                                        {% endif %}
                                                    {% else %}
                                                        <p class="text-success">{{ order.driver.firstname | capitalize }}</p>
                                                    {% endif %}
                                                {% endif %}
                                            </td>
                                            <td>
                                                {% if order.show_comment %}
                                                    <p>Тийм</p>
                                                {% else %}
                                                    <p>Үгүй</p>
                                                {% endif %}
                                            </td>
                                            <td>
                                                <a class="btn btn-outline-success" href="{{ url_for('manager_order.manager_order_detail', order_id=order.id) }}">Ажлыг нээх</a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <div class="float-end mt-5">
                            {{ form1.submit(class="btn btn-outline-success m-0") }}
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <script>
        $(document).ready(function () {
            $('#inventory-table').DataTable({
                dom: 'Bfrtip',
                buttons: [
                    {
                        extend: 'csvHtml5',
                        text: 'CSV файл татах',
                        text: '<a class="btn btn-outline-secondary m-2" style="float: left;">CSV файл татах</a>',
                        tag: 'span',
                        exportOptions: {
                            modifier: {
                                search: 'none'
                            }
                        }
                    },
                    {
                        extend: 'print',
                        text: 'Хэвлэх',
                        text: '<a class="btn btn-outline-secondary m-2" style="float: left;">Хэвлэх</a>',
                        tag: 'span',
                        exportOptions: {
                            modifier: {
                                search: 'none'
                            }
                        }
                    },
                    {
                        extend: 'excelHtml5',
                        text: 'Excel',
                        text: '<a class="btn btn-outline-secondary m-2" style="float: left;">XLS файл татах</a>',
                        tag: 'span',
                        exportOptions: {
                            modifier: {
                                search: 'none'
                            }
                        }
                    },
                ],
                "columnDefs": [
                    {
                        "orderData": [0, 1]
                    },
                ],
                pageLength: 50,
                order: [[1, 'asc']],
                lengthMenu: [
                    50, 100, 200, 500
                ],
                language: {
                    lengthMenu: "_MENU_ эгнээ харах",
                    zeroRecords: "Дата алга",
                    info: "_PAGES_ хуудаснаас _PAGE_-р хуудас. Нийт: _TOTAL_",
                    infoEmpty: "",
                    sSearch: "Шүүх",
                    paginate: {
                    previous: "өмнөх",
                    next: "дараа",
                    },
                },
            });
        });
    </script>
{% endblock main %}
