{% extends "layout.html" %} {% block main %}
<!-- Products -->
<section>
  <div class="container-fluid min-vh-100" style="width: 80%;">
    <div class="row">
      <div class="col-sm-12 mb-5">
        <h3 class="display-6 mb-4">Бараа буцаалтын түүх</h3>
        <form id="form" method="POST" action="">
          {{ form.csrf_token }}
          <div class="row g-2">
            <div class="col-md-3">
                {{ form.date.label(class="form-control-label") }}
                {% if form.date.errors %}
                {{ form.date(class="form-control is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.date.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                        </div>
                    {% else %}
                        {{ form.date(class="form-control") }}
                    {% endif %}
                </div>
            <div class="col-md-3 align-self-center">{{ form.submit(class="btn btn-outline-success m-0") }}</div>
          </div>
        </form>
        <div class="table-responsive-sm">
          <table id="example" class="table table-hover">
            <thead>
              <tr>
                <th scope="col" class="bg-grad">RT</th>
                <th scope="col" class="bg-grad">Харилцагч</th>
                <th scope="col" class="bg-grad">Төлөв</th>
                <th scope="col" class="bg-grad">Жолооч</th>
                <th scope="col" class="bg-grad">Бараа</th>
                <th scope="col" class="bg-grad">Няравт Өгсөн Огноо</th>
              </tr>
            </thead>
            {% for return_task in return_tasks %}
            <tbody>
              <tr>
                <th scope="row">RT{{ return_task.id }}</th>
                <td>{{ return_task.supplier.company_name | capitalize }}</td>
                <td>
                    {% if return_task.is_ready and return_task.is_driver_received==false and return_task.assigned_driver_id is none %}
                        <p class="text-danger">Авах жолооч хувиарлахыг хүлээж байна.</p>
                    {% elif return_task.is_ready and return_task.is_driver_received==false and return_task.assigned_driver_id is not none %}
                        <p class="text-info">Жолооч очиж авна.</p>
                    {% elif return_task.is_completed==false and return_task.is_completed==cancelled and return_task.is_ready==false and return_task.is_driver_received==true and return_task.assigned_driver_id is not none %}
                        <p class="text-success">Жолооч aвсан.</p>
                    {% elif return_task.is_completed==true %}
                        <p class="text-success">Харилцагч буцааж авсан.</p>
                    {% elif return_task.is_cancelled==true %}
                        <p class="text-danger">Харилцагч цуцалсан. ({{ return_task.supplier.lastname[0] | capitalize }}. {{ return_task.supplier.firstname | capitalize }}. {{ return_task.modified_date }})</p>
                    {% endif %}
                </td>
                <td>
                    {% if return_task.assigned_driver_id is not none %}
                        <p>{{ return_task.driver.lastname[0] | capitalize }}. {{ return_task.driver.firstname | capitalize }}</p>
                    {% else %}
                        <p class="text-danger">Жолооч хувиарлагдаагүй байна.</p>
                    {% endif %}
                </td>
                <td>
                    {% if return_task.supplier.has_role('supplier1')%}
                        {% for return_detail in return_task.return_task_details %}
                        <p>
                            {% if return_detail.product.name %}{{ return_detail.product.name }}{% endif %}{% if return_detail.product.color %}, {{ return_detail.product.color }}{% endif %}{% if return_detail.product.size %}, {{ return_detail.product.size }}{% endif %}{% if return_detail.product.type %}, {{ return_detail.product.type }}{% endif %}{% if return_detail.quantity %} - <strong>{{ return_detail.quantity }} ширхэг.</strong>{% endif %}
                        </p>
                        {% endfor %}
                    {% elif return_task.supplier.has_role('supplier2')%}
                        {% for return_detail in return_task.return_task_details %}
                            <p>{{ return_detail.phone }}</p>
                        {% endfor %}
                    {% endif %}
                </td>
                <td>
                    {% if return_task.clerk_id and return_task.is_completed %}
                          <p>{{ return_task.clerk.lastname[0] | capitalize }}. {{  return_task.clerk.firstname | capitalize }} ({{ return_task.supplier_received_date }})</p>
                    {% else %}
                          <p class="text-danger">Нярав хүлээж аваагүй байна</p>
                    {% endif %}
                    {% if (return_task.is_ready==true) %}
                        <a class="btn btn-outline-success" href="{{ url_for('manager_return_task.manager_return_task', return_task_id=return_task.id) }}">Жолооч хувиарлах</a>
                    {% endif %}
                </td>
              </tr>
            </tbody>
            {% endfor %}
          </table>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- END Products -->
<script>
  $(document).ready(function () {
    $("#example").DataTable({
      dom: "Bfrtip",
      buttons: [
        {
          extend: "csvHtml5",
          text: '<a class="btn btn-outline-secondary m-2" style="float: left;">CSV файл татах</a>',
          tag: "span",
          exportOptions: {
            modifier: {
              search: "none",
            },
          },
        },
        {
          extend: "print",
          text: '<a class="btn btn-outline-secondary m-2" style="float: left;">Хэвлэх</a>',
          tag: "span",
          exportOptions: {
            modifier: {
              search: "none",
            },
          },
        },
        {
          extend: "excelHtml5",
          text: "Excel",
          text: '<a class="btn btn-outline-secondary m-2" style="float: left;">XLS файл татах</a>',
          tag: "span",
          exportOptions: {
            modifier: {
              search: "none",
            },
          },
        },
      ],
      columnDefs: [
        {
          orderData: [0, 1],
        },
      ],
      pageLength: 50,
      lengthMenu: [50, 100, 200, 500],
      language: {
        lengthMenu: "_MENU_ эгнээ харах",
        zeroRecords: "Дата алга",
        info: "_PAGES_ хуудаснаас _PAGE_-р хуудас. Нийт: _TOTAL_ хүргэлт",
        infoEmpty: "",
        sSearch: "Шүүх",
        paginate: {
          previous: "өмнөх",
          next: "дараа",
        },
      },
    });
  });
</script>
{% endblock main %}
