{% extends "layout.html" %}
{% block main %}
    <!-- ORDERS -->
    <section>
        <div class="container-fluid min-vh-100" style="width: 80%;">
            <div class="col-sm-12 mb-5">
                <h3 class="display-6 mb-4">Агуулахаас борлуулалт</h3>
                <form id="form" method="POST" action="" enctype="multipart/form-data">
                    {{ form.csrf_token }}
                    <div class="row g-3">
                        <div class="col-md-4 position-relative">
                            {{ form.date.label(class="form-control-label") }}
                            {% if form.date.errors %}
                                {{ form.date(class="form-control is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.date.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.date(class="form-control") }}
                            {% endif %}
                        </div>
                        <div class="col-md-4 d-flex align-items-center">
                            {{ form.submit(class="btn btn-outline-success m-0") }}
                        </div>
                    </div>
                </form>
                <div class="table-responsive-sm">
                    <table id="inventory-table" class="table table-lg table-bordered">
                        <thead>
                            <tr>
                                <th scope="col" class="bg-grad">WS</th>
                                <th scope="col" class="bg-grad">Төлөв</th>
                                <th scope="col" class="bg-grad">Бараа</th>
                                <th scope="col" class="bg-grad">Нийт дүн</th>
                                <th scope="col" class="bg-grad">Үүсгэсэн огноо</th>
                                <th scope="col" class="bg-grad">Нярав хүлээлгэж өгсөн огноо</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for warehouse_sale in warehouse_sales %}
                                <tr>
                                    <td>WS{{ warehouse_sale.id }}</td>
                                    <td>
                                        {% if warehouse_sale.is_completed %}
                                            <p class="text-success">Агуулахаас зарагдсан</p>
                                        {% elif warehouse_sale.is_cancelled %}
                                            <p class="text-danger">Цуцлагдсан</p>
                                        {% else %}
                                            <p class="text-info">Хүлээгдэж байна</p>
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% for order_detail in warehouse_sale.warehouse_sale_details %}
                                            <p>
                                                {% if order_detail.products.name %}{{ order_detail.products.name }}{% endif %}{% if order_detail.products.color %}, {{ order_detail.products.color }}{% endif %}{% if order_detail.products.size %}, {{ order_detail.products.size }}{% endif %}{% if order_detail.products.type %}, {{ order_detail.products.type }}{% endif %}{% if order_detail.quantity %} - {{ order_detail.quantity }} ширхэг. {% endif %}{% if order_detail.products.price %} нэгж үнэ: {{ (order_detail.products.price)  | round | int | numberformat }}₮{% endif%}
                                            </p>
                                        {% endfor %}
                                    </td>
                                    <td>{{ warehouse_sale.total_amount | numberformat }}₮</td>
                                    <td>
                                        Үүсгэсэн менежер: {{ warehouse_sale.manager.lastname[0] | capitalize }}. {{ warehouse_sale.manager.firstname }} ({{ warehouse_sale.created_date }})
                                    </td>
                                    <td>{% if warehouse_sale.is_received_from_clerk %}
                                            {{ warehouse_sale.clerk.lastname[0] | capitalize }}. {{ warehouse_sale.clerk.firstname }} {{ warehouse_sale.received_from_clerk_date }}
                                        {% else %}
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
<script>
    $(document).ready(function () {
        $('#inventory-table').DataTable({
            dom: 'Bfrtip',
            buttons: [
                {
                    extend: 'csvHtml5',
                    text: 'CSV файл татах',
                    text: '<a class="btn btn-outline-secondary m-2" style="float: left;">CSV файл татах</a>',
                    tag: 'span',
                    exportOptions: {
                        modifier: {
                            search: 'none'
                        }
                    }
                },
                {
                    extend: 'print',
                    text: 'Хэвлэх',
                    text: '<a class="btn btn-outline-secondary m-2" style="float: left;">Хэвлэх</a>',
                    tag: 'span',
                    exportOptions: {
                        modifier: {
                            search: 'none'
                        }
                    }
                },
                {
                    extend: 'excelHtml5',
                    text: 'Excel',
                    text: '<a class="btn btn-outline-secondary m-2" style="float: left;">XLS файл татах</a>',
                    tag: 'span',
                    exportOptions: {
                        modifier: {
                            search: 'none'
                        }
                    }
                },
            ],
            "columnDefs": [
                {
                    "orderData": [0, 1]
                },
            ],
            pageLength: 50,
            order: [[1, 'asc']],
            lengthMenu: [
                50, 100, 200, 500
            ],
            language: {
                lengthMenu: "_MENU_ эгнээ харах",
                zeroRecords: "Дата алга",
                info: "_PAGES_ хуудаснаас _PAGE_-р хуудас. Нийт: _TOTAL_",
                infoEmpty: "",
                sSearch: "Шүүх",
                paginate: {
                previous: "өмнөх",
                next: "дараа",
                },
            },
        });
    });
</script>
<!-- END ORDERS -->{% endblock main %}
