{% extends "layout.html" %}
{% block main %}
<section>
  <div class="container-fluid min-vh-100" style="width: 80%;">
    <div class="row">
      <div class="col-sm-12 mb-5">
        <h3 class="display-6 mb-4">Харилцагчаас Хүлээж Авах</h3>
          <div class="table-responsive-sm">
            <table id="inventory-table" class="table table-hover">
              <thead>
                <tr>
                  <th scope="col" class="bg-grad">SD</th>
                  <th scope="col" class="bg-grad">Харилцагч</th>
                  <th scope="col" class="bg-grad">Бараа</th>
                  <th scope="col" class="bg-grad">Үүсгэсэн огноо</th>
                  <th scope="col" class="bg-grad">Төлөв</th>
                </tr>
              </thead>
              <tbody>
                {% for supplier_dropoff in supplier_dropoffs %}
                <tr>
                  <td>SD{{ supplier_dropoff.id }}</td>
                  <td>{{ supplier_dropoff.supplier.company_name | capitalize }}</td>
                  <td>
                    {% for dropoff_detail in supplier_dropoff.supplier_dropoff_task_details %}
                      <p>
                        {% if dropoff_detail.quantity %}<strong>{{ dropoff_detail.quantity }} ширхэг</strong>  -  {% endif %}{% if dropoff_detail.product.name %}{{ dropoff_detail.product.name | capitalize }}{% endif %}{% if dropoff_detail.product.color %}, {{ dropoff_detail.product.color }}{% endif %}{% if dropoff_detail.product.size %}, {{ dropoff_detail.product.size }}{% endif %}{% if dropoff_detail.product.type %}, {{ dropoff_detail.product.type }}{% endif %}
                      </p>
                    {% endfor %}
                  </td>
                  <td>{{ supplier_dropoff.created_date }}</td>
                  <td>
                    {% if supplier_dropoff.is_completed %}
                      <span class="text-success">Хүлээж авсан {{ supplier_dropoff.clerk.lastname[0] | capitalize }}. {{ supplier_dropoff.clerk.firstname | capitalize }}. ({{ supplier_dropoff.clerk_received_date }})</span>
                    {% elif supplier_dropoff.is_cancelled %}
                      <span class="text-danger">Цуцалсан байна.</span>
                    {% elif supplier_dropoff.is_ready==true %}
                      <a id="confirm-pickup" class="btn btn-outline-success" href="{{ url_for('clerk_receive.clerk_accept_dropoff_inventories', supplier_dropoff_task_id=supplier_dropoff.id)}}">Хүлээж Авах</a>
                    {% endif %}
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
      </div>
    </div>
  </div>
</section>
<div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="confirmModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header bg-grad">
        <h5 class="modal-title text-white" id="confirmModalLabel">Хүлээж авах</h5>
        <button type="button" class="btn btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p class="display-8">Та итгэлтэй байна уу?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Үгүй</button>
        <button type="button" class="btn btn-primary" id="confirmModalYes">Тйим</button>
      </div>
    </div>
  </div>
</div>
<script>
  $(document).ready(function() {
    // show confirmation modal when confirm pickup link is clicked
    $('#confirm-pickup').click(function(e) {
      e.preventDefault();
      $('#confirmModal').modal('show');
    });
    
    // submit form when confirm button is clicked
    $('#confirmModalYes').click(function() {
      window.location.href = $('#confirm-pickup').attr('href');
    });
  });
</script>
<script>
  $(document).ready(function () {
    $("#inventory-table").DataTable({
      dom: "Bfrtip",
      buttons: [
        {
          extend: "csvHtml5",
          text: "CSV файл татах",
          text: '<a class="btn btn-outline-secondary m-2" style="float: left;">CSV файл татах</a>',
          tag: "span",
          exportOptions: {
            modifier: {
              search: "none",
            },
          },
        },
        {
          extend: "print",
          text: "Хэвлэх",
          text: '<a class="btn btn-outline-secondary m-2" style="float: left;">Хэвлэх</a>',
          tag: "span",
          exportOptions: {
            modifier: {
              search: "none",
            },
          },
        },
        {
          extend: "excelHtml5",
          text: "Excel",
          text: '<a class="btn btn-outline-secondary m-2" style="float: left;">XLS файл татах</a>',
          tag: "span",
          exportOptions: {
            modifier: {
              search: "none",
            },
          },
        },
      ],
      paging: false,
      order: [[3, 'desc']],
      pageLength: 50,
      lengthMenu: [50, 100, 200, 500],
      language: {
        lengthMenu: "_MENU_ эгнээ харах",
        zeroRecords: "Дата алга",
        info: "_PAGES_ хуудаснаас _PAGE_-р хуудас. Нийт: _TOTAL_ хүргэлт",
        infoEmpty: "",
        sSearch: "Шүүх",
        paginate: {
          previous: "өмнөх",
          next: "дараа",
        },
      },
    });
  });
</script>
{% endblock main %}
