{% extends "layout.html" %}
{% block main %}
    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="me-auto slider-content justify-content-center align-self-center align-items-start text-start">
                        <h4 class="animate__animated animate__fadeInUp animate__delay-1s display-5 fw-bold mb-5">
                            <span class="first-letter">БИ</span>ДНИЙ ТУХАЙ</h4>
                        <h5 class="animate__animated animate__fadeInRight animate__delay-2s display-7">
                            <p><strong class="text-primary-1 fw-bold">Сүн Сүн Экспресс</strong> ХХК нь 2020 оноос эхлэн ложистик, хүргэлтийн чиглэлээр тасралтгүй үйл ажиллагаа явуулж байна. Бид 2020 оноос Монголын томоохон ложистикийн компани болох Улаанбаатар төмөр замын ачаа тээш хүргэлтийг ажлыг хариуцаж эхэлснээc хойш үйл ажиллагаагаа өргөжүүлэн тэлж одоогийн байдлаар 110 гаруй харилцагчдын Таталт – Агуулах – Ангилалт – Хүргэлт гэсэн зарчимаар ажиллаж байна.</p>
                            
                            <strong class="text-primary-1 fw-bold">Зорилго</strong>
                            <p>Харилцагчиддаа зах зээлд өрсөлдөх тогтвортой өсөн дэвших боломж, үйл ажиллагаа өргөжүүлэхэд итгэл даах найдвартай түнш байх.</p>

                            <strong class="text-primary-1 fw-bold">Алсын хараа</strong>
                            <p>Хүргэлтийн үйлчилгээний олон улсын стандартыг нэвтрүүлэх, хүргэлтийн салбарын тэргүүлэх компани болох.</p>

                            <strong class="text-primary-1 fw-bold">Үнэт зүйлс</strong>
                            <p>Чанар, Хурд, Сэтгэл ханамж.</p>
                        </h5>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="mb-5 animate__animated animate__fadeInUp animate__delay-3s" style="background:url(static/images/sunsun/9.jpg) no-repeat center center; background-size:auto; height: 400px; border-radius: 1rem;"></div>
                    <div class="animate__animated animate__fadeInUp animate__delay-3s" style="background:url(static/images/sunsun/4.jpg) no-repeat center center; background-size:cover; height: 400px; border-radius: 1rem;"></div>
                </div>
            </div>
        </div>
    </section>
{% endblock main %}
