{% extends "layout.html" %}
{% block main %}
    <section class="p-0 animate__animated animate__fadeIn animate__delay-1s">
        <div class="tiny-slider arrow-dark arrow-large arrow-transparent arrow-hover">
            <div class="tiny-slider-inner h-400 h-lg-900" data-autoplay="true" data-autoplaytime="7000" data-gutter="0" data-arrow="true" data-dots="false" data-items="1">
                <div class="h-100 bg-overlay-dark-2" style="background-image:url(static/images/sunsun/3.jpg); background-position: center center; background-size: cover;">
                    <div class="container h-100">
                        <div class="row d-flex h-100">
                            <div class="col-lg-8 col-xl-6 me-auto slider-content justify-content-center align-self-center align-items-start text-start">
                                <h4 class="animate__animated animate__fadeInUp animate__delay-1s display-5 fw-bold text-white">
                                    <span class="first-letter">БИ</span>ДНИЙ ТУХАЙ</h4>
                                <h5 class="animate__animated animate__fadeInUp animate__delay-2s text-white display-7 mb-2 my-md-4">
                                    <strong class="text-primary-1 fw-bold">Сүн Сүн Экспресс</strong>
                                    ХХК нь 2020 оноос эхлэн...
                                </h5>
                                <div class="animate__animated animate__fadeInUp animate__delay-3s mt-3 dealy-1500">
                                    <a href="{{ url_for('main.about_us') }}" class="btn btn-grad">Дэлгэрэнгүй...</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="h-100 bg-overlay-dark-2" style="background-image:url(static/images/sunsun/6.jpg); background-position: center top; background-size: cover;">
                    <div class="container h-100">
                        <div class="row d-flex h-100">
                            <div class="col-md-8 justify-content-center align-self-center align-items-start mx-auto">
                                <div class="slider-content text-center ">
                                    <h2 class="animate__animated animate__fadeInUp animate__delay-1s display-5 fw-bold text-white">
                                        <span class="first-letter">ХЯ</span>ЛБАР ХҮРГЭЛТ</h2>
                                    <h3 class="animate__animated animate__fadeInUp animate__delay-2s text-white display-7 mb-2 my-md-4">
                                        Манай харилцагчид хүргэлт үүсгэхэд хялбар боллоо. Бид харилцагчдынхаа цаг, мөнгө, завыг хэмнэх өөрсдийн үйл ажиллагааг сайжируулахын тулд шинэ вэб, жолоочийн апп гэх мэт орчин үеийн технологийн шийдлүүдийг нэвтрүүллээ.
                                    </h3>
                                    <div class="animate__animated animate__fadeInUp animate__delay-3s mt-3 dealy-1500">
                                        <a href="{{ url_for('auth.signin') }}" class="btn btn-grad">Нэвтрэх</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="h-100 bg-overlay-dark-2" style="background-image:url(static/images/sunsun/5.jpg); background-position: center top; background-size: cover;">
                    <div class="container h-100">
                        <div class="row d-flex h-100">
                            <div class="col-md-8 justify-content-center align-self-center align-items-start mx-auto">
            
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section class="process-advance">
        <div class="container">
            <h4 class="mt-5 mb-5 animate__animated animate__fadeInUp animate__delay-1s display-5 fw-bold">
                <span class="first-letter">ҮН</span>ДСЭН ҮЙЛ АЖИЛЛАГАА</h4>
            <h3 class="mb-5 animate__animated animate__fadeInUp animate__delay-2s">АГУУЛАХТАЙ ҮЙЛЧИЛГЭЭ</h3>
            <div class="row">
                <div class="col-sm-6 col-lg-2 text-center mb-4">
                    <div class="process-border"><img id="colorize-icons" src="{{ url_for('static', filename='images/icons/icon2.svg') }}" alt=""/></div>
                    <h5 class="my-3">1. Бараа татах үйлчилгээ</h5>
                </div>
                <div class="col-sm-6 col-lg-2 text-center mb-4">
                    <div class="process-border"><img id="colorize-icons" src="{{ url_for('static', filename='images/icons/icon3.svg') }}" alt=""/></div>
                    <h5 class="my-3">2. Агуулах</h5>
                </div>

                <div class="col-sm-6 col-lg-2 text-center mb-4">
                    <div class="process-border"><img id="colorize-icons" src="{{ url_for('static', filename='images/icons/icon1.svg') }}" alt=""/></div>
                    <h5 class="my-3">3. Ангилан ялгах үйлчилгээ</h5>
                </div>
                <div class="col-sm-6 col-lg-2 text-center mb-4">
                    <div class="process-border"><img id="colorize-icons" src="{{ url_for('static', filename='images/icons/icon5.svg') }}" alt=""/></div>
                    <h5 class="my-3">4. Хүргэх үйлчилгээ</h5>
                </div>
                <div class="col-sm-6 col-lg-2 text-center mb-4">
                    <div class="process-border"><img src="{{ url_for('static', filename='images/icons/icon6.svg') }}" style="height: 75px; width: 120px;" alt=""/></div>
                    <h5 class="my-3">5. Тооцоо цуглуулах үйлчилгээ</h5>
                </div>
                
                <div class="col-sm-6 col-lg-2 text-center mb-4">
                    <div class="process-border"><img id="colorize-icons" src="{{ url_for('static', filename='images/icons/icon4.svg') }}" alt=""/></div>
                    <h5 class="my-3">6. Тайлан тооцоо гаргах үйлчилгээ</h5>
                </div>
            </div>
        </div>
    </section>


    <section class="process-advance mt-0 pt-0">
        <div class="container">
            <h3 class="mb-5 animate__animated animate__fadeInUp animate__delay-2s">АГУУЛАХГҮЙ ҮЙЛЧИЛГЭЭ</h3>
            <div
                class="row">
                <div class="col-sm-6 col-lg-2 text-center mb-4">
                    <div class="process-border"><img id="colorize-icons" src="{{ url_for('static', filename='images/icons/icon2.svg') }}" alt=""/></div>
                    <h5 class="my-3">1. Бараа татах үйлчилгээ</h5>
                </div>
                <div class="col-sm-6 col-lg-2 text-center mb-4">
                    <div class="process-border"><img id="colorize-icons" src="{{ url_for('static', filename='images/icons/icon1.svg') }}" alt=""/></div>
                    <h5 class="my-3">2. Ангилан ялгах үйлчилгээ</h5>
                </div>
                <div class="col-sm-6 col-lg-2 text-center mb-4">
                    <div class="process-border"><img id="colorize-icons" src="{{ url_for('static', filename='images/icons/icon5.svg') }}" alt=""/></div>
                    <h5 class="my-3">3. Хүргэх үйлчилгээ</h5>
                </div>
                <div class="col-sm-6 col-lg-2 text-center mb-4">
                    <div class="process-border"><img src="{{ url_for('static', filename='images/icons/icon6.svg') }}" style="height: 75px; width: 120px;" alt=""/></div>
                    <h5 class="my-3">4. Тооцоо цуглуулах үйлчилгээ</h5>
                </div>
                <div class="col-sm-6 col-lg-2 text-center mb-4">
                    <div class="process-border"><img id="colorize-icons" src="{{ url_for('static', filename='images/icons/icon4.svg') }}" alt=""/></div>
                    <h5 class="my-3">5. Тайлан тооцоо гаргах үйлчилгээ</h5>
                </div>
            </div>
        </div>
    </section>

    <section class="bg-parallax bg-overlay-dark-2" style="background:url(static/images/sunsun/1.jpg) no-repeat center center; background-size:cover; height: 400px;">
        <div class="container">
            <div class="row">
                <h4 class="animate__animated animate__fadeInUp animate__delay-1s display-5 fw-bold mb-5"><span class="first-letter">ХА</span>РИЛЦАГЧИД</h4>
                <div class="col-md-7 col-lg-6">
                    <div class="z-index-9 position-relative testimonials">
                        <div class="tiny-slider arrow-hover arrow-gray">
                            <div class="tiny-slider-inner" data-arrow="true" data-dots="false" data-autoplay="3800" data-gutter="80" data-items-xl="3" data-items-lg="3" data-items-md="3" data-items-sm="3" data-items-xs="3">
                                <div class="item"><img src="static/images/clients/01-light.png" alt=""></div>
                                <div class="item"><img src="static/images/clients/02-light.png" alt=""></div>
                                <div class="item"><img src="static/images/clients/03-light.png" alt=""></div>
                                <div class="item"><img src="static/images/clients/04-light.png" alt=""></div>
                                <div class="item"><img src="static/images/clients/05-light.png" alt=""></div>
                                <div class="item"><img src="static/images/clients/06-light.png" alt=""></div>
                                <div class="item"><img src="static/images/clients/07-light.png" alt=""></div>
                                <div class="item"><img src="static/images/clients/08-light.png" alt=""></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="p-0 counter counter-small">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="py-5 pattern-overlay-2">
                        <div class="row">
                            <div class="col-md-3 col-6 mb-4 mb-sm-0">
                                <div class="text-center">
                                    <img id="info-icons" src="{{ url_for('static', filename='images/icons/icon9.svg') }}" alt=""/>
                                    <h2 class="display-5 fw-bold mt-2 mb-0 purecounter text-primary-1" data-purecounter-start="0" data-purecounter-delay="10" data-purecounter-duration="1" data-purecounter-end="254856">0</h2>
                                    <p class="mb-0 text-primary-1">Нийт хүргэлт</p>
                                </div>
                            </div>
                            <div class="col-md-3 col-6">
                                <div class="text-center">
                                    <img id="info-icons" src="{{ url_for('static', filename='images/icons/icon10.svg') }}" alt=""/>
                                    <h2 class="display-5 fw-bold mt-2 mb-0 purecounter text-primary-1" data-purecounter-start="0" data-purecounter-delay="10" data-purecounter-duration="1" data-purecounter-end="105">0</h2>
                                    <p class="mb-0 text-primary-1">Харилцагч</p>
                                </div>
                            </div>
                            <div class="col-md-3 col-6">
                                <div class="text-center">
                                    <img id="info-icons" src="{{ url_for('static', filename='images/icons/icon11.svg') }}" alt=""/>
                                    <h2 class="display-5 fw-bold mt-2 mb-0 purecounter text-primary-1" data-purecounter-start="0" data-purecounter-delay="10" data-purecounter-duration="1" data-purecounter-end="9">0</h2>
                                    <p class="mb-0 text-primary-1">Дүүрэг</p>
                                </div>
                            </div>
                            <div class="col-md-3 col-6 mb-4 mb-sm-0">
                                <div class="text-center">
                                    <img id="info-icons" src="{{ url_for('static', filename='images/icons/icon12.svg') }}" alt=""/>
                                    <h2 class="display-5 fw-bold mt-2 mb-0 purecounter text-primary-1" data-purecounter-start="0" data-purecounter-delay="10" data-purecounter-duration="1" data-purecounter-end="21">0</h2>
                                    <p class="mb-0 text-primary-1">Аймаг</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="team team-grid">
        <div class="container bg-light" style="border-radius: 2rem;">
            <div class="row">
                <div class="">
                    <div class="title float-end me-5">
                        <h4 class="mt-5 animate__animated animate__fadeInUp animate__delay-1s display-5 fw-bold"><span class="first-letter">ХА</span>РИЛЦАГЧИЙН СЭТГЭГДЭЛ</h4>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="tiny-slider dots-primary">
                        <div class="tiny-slider-inner" data-arrow="false" data-dots="true" data-autoplay="3800" data-items-xl="2" data-items-xs="1">
                            <div class="item ">
                                <div class="team-item border bg-white">
                                    <div class="team-desc">
                                        <p class="text-dark">Far concluded not his something extremity. Four we face an he gate large an it sense shall an match learn.
                                        </p>
                                        <h4 class="team-name text-dark">Allen Smith</h4>
                                        <span class="team-position text-dark">Founder</span>
                                    </div>
                                </div>
                            </div>
                            <div class="item ">
                                <div class="team-item border bg-white">
                                    <div class="team-desc">
                                        <p class="text-dark">Far concluded not his something extremity. Four we face an he gate large an it sense shall an match learn.
                                        </p>
                                        <h4 class="team-name text-dark">Allen Smith</h4>
                                        <span class="team-position text-dark">Founder</span>
                                    </div>
                                </div>
                            </div>
                            <div class="item ">
                                <div class="team-item border bg-white">
                                    <div class="team-desc">
                                        <p class="text-dark">Far concluded not his something extremity. Four we face an he gate large an it sense shall an match learn.
                                        </p>
                                        <h4 class="team-name text-dark">Allen Smith</h4>
                                        <span class="team-position text-dark">Founder</span>
                                    </div>
                                </div>
                            </div>
                            <div class="item ">
                                <div class="team-item border bg-white">
                                    <div class="team-desc">
                                        <p class="text-dark">Far concluded not his something extremity. Four we face an he gate large an it sense shall an match learn.
                                        </p>
                                        <h4 class="team-name text-dark">Allen Smith</h4>
                                        <span class="team-position text-dark">Founder</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="container">
            <div class="row">
                <div class="col">
                    <h5 class="h-100 d-flex align-items-center justify-content-center animate__animated animate__fadeInUp animate__delay-1s display-2 fw-bold">
                        <span>
                            <p class="p-0 m-0 text-primary-1">СҮН СҮН</p>
                            мэдээ мэдээлэл
                        </span>
                    </h5>
                </div>
                <div class="col">
                    <img class="rounded-img" src="{{ url_for('static', filename='images/sunsun/5.jpg') }}" alt=""></div>
                </div>
            </div>
        </div>
    </section>
    <script src="https://cdn.jsdelivr.net/npm/@srexi/purecounterjs/dist/purecounter_vanilla.js"></script>
    <script>
        new PureCounter();
    </script>
{% endblock main %}
