{% extends "layout.html" %}
{% block main %}
<section class="vh-100">
	<div class="container">
		<h4 class="animate__animated animate__fadeInUp animate__delay-1s display-5 fw-bold mb-5">
			<span class="first-letter">АЖ</span>ЛЫН БАЙР</h4>
	</div>
	<section class="animate__animated animate__fadeIn animate__delay-1s bg-parallax bg-overlay-dark-2 h-75" style="background:url(static/images/sunsun/6.jpg) no-repeat center center; background-size:cover;">
		<div class="container h-50">

		</div>
		<div class="container">
			<h5 class="animate__animated animate__fadeInRight animate__delay-2s display-7">
				<div class="accordion-item">
					<h2 class="accordion-header bg-dark" id="heading10">
						<button class="accordion-button bg-dark fw-bold text-white" type="button" data-bs-toggle="collapse" data-bs-target="#collapse10" aria-expanded="true" aria-controls="collapse10">
							Мэргэжлийн Жолооч
						</button>
					</h2>
					<div id="collapse10" class="accordion-collapse collapse show" aria-labelledby="heading10" data-bs-parent="#accordionExample4">
						<div class="accordion-body">
							<p style="font-size: 18px;">Жолооч таныг ажилд урьж байна. Бид таныг хүргэлтийн үйлчилгээнд мэргэшүүлэн сургах болно.</p>
							<h6 class="mb-2">Байршил: Улаанбаатар</h6>
						</div>
					</div>
				</div>
			</h5>
		</div>
	</section>
</section>
{% endblock main %}
