{% extends "layout.html" %}
{% block main %}

    <div class="left bg-grad pattern-overlay-4">
        <div class="container">
            <div class="row all-text-white">
                <div class="col-md-12 align-self-center position-relative">
                    <h1 class="fw-bold display-1 mb-2 mb-md-n4 mt-9">Харилцагчийн Сэтгэгдэл</h1>
                </div>
            </div>
        </div>
    </div>

	<section class="bg-light triangle-down py-5">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-8 text-center">
					<h5 class="m-0">Our passion for customer excellence is just one reason why we are the market leader. We've always worked very hard to<strong class="text-primary bold"> give our customers the best experience</strong> in dealing with our company.</h5>
				</div>
			</div>
		</div>
	</section>

	<section class="testimonials testimonials-border pb-5">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="tiny-slider">
						<div class="tiny-slider-inner testi-full" data-arrow="false" data-dots="false" data-items-xl="3" data-items-md="2" data-items-xs="1" data-autoplay="4500">
							<!-- testimonial item -->
							<div class="item">
								<div class="testimonials-wrap">
									<div class="testi-text">
										<p>Best of the best service i have got so far consectetur adipisicing elit Numquam aliquid neque voluptates <strong>Never seen in my entire life</strong> iusto ipsam eligendi officia repellat ipsum commodi aspernatur quibusdam doloremque nam ullam labore.</p>
										<h6 class="mb-0 mt-3">Adam Ross</h6>
										<h6 class="small">Software Developer</h6>
									</div>
								</div>
							</div>
							<!-- testimonial item -->
							<div class="item">
								<div class="testimonials-wrap">
									<div class="testi-text">
										<p>Thanks for the super quick support consectetur adipisicing elit. Numquam aliquid neque voluptates veniam laborum dolore porro totam iusto ipsam eligendi officia repellat ipsum commodi aspernatur quibusdam doloremque nam ullam.</p>
										<h6 class="mb-0 mt-3">Peter Smith</h6>
										<h6 class="small">Customer</h6>
									</div>
								</div>
							</div>
							<!-- testimonial item -->
							<div class="item">
								<div class="testimonials-wrap">
									<div class="testi-text">
										<p>So happy to by this template consectetur adipisicing elit Numquam aliquid neque voluptates Never seen in my entire life iusto ipsam eligendi <strong> most amazing template out there!</strong></p>
										<h6 class="mb-0 mt-3">Emma Watson</h6>
										<h6 class="small">Human Resource</h6>
									</div>
								</div>
							</div>
							<!-- testimonial item -->
							<div class="item">
								<div class="testimonials-wrap">
									<div class="testi-text">
										<p>You guys did an amazing work for me. Numquam aliquid neque voluptates veniam laborum dolore porro totam iusto ipsam eligendi officia repellat ipsum commodi aspernatur quibusdam, doloremque nam ullam labore.</p>
										<h6 class="mb-0 mt-3">Jessica Mores</h6>
										<h6 class="small">Web Developer</h6>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
{% endblock main %}