{% extends "layout.html" %}
{% block main %}
<section>
    <div class="container">
        <h4 class="animate__animated animate__fadeInUp animate__delay-1s display-5 fw-bold mb-5"><span class="first-letter">ҮЙ</span>ЛЧИЛГЭЭНИЙ НӨХЦӨЛ</h4>
        <h3 class="fw-bold mb-4">User Agreement and Terms of Service for sunsun.mn</h3>
        <p style="font-size: 18px">
            Welcome to sunsun.mn, a website owned and operated by SunSun LLC (hereafter referred to as "we," "us," or "our"). By accessing or using our website, you agree to be bound by the terms and conditions set forth in this User Agreement and Terms of Service (hereafter referred to as "Agreement"). If you do not agree to any of these terms, you should not use our website.

            Use of the Website: You may use our website for lawful purposes only. Any use of our website that is in violation of any federal, state, or local laws or regulations is strictly prohibited.

            Intellectual Property: The content of our website, including but not limited to text, graphics, logos, images, and software, is the property of SunSun LLC and is protected by copyright and trademark laws. You may not use any content from our website without our express written permission.

            Third-Party Websites: Our website may contain links to third-party websites. We are not responsible for the content or actions of these websites and do not endorse any of the material contained therein.

            Disclaimer of Warranty: Our website is provided on an "as is" and "as available" basis. We do not warrant that our website will be available at all times or that it will be free from errors or defects. We do not make any representations or warranties of any kind, express or implied, as to the operation of our website or the information, content, materials, or products included on our website.

            Limitation of Liability: We shall not be liable for any damages of any kind arising from the use of our website, including but not limited to direct, indirect, incidental, punitive, and consequential damages.

            Changes to the Agreement: We reserve the right to modify this Agreement at any time without notice to you. Your continued use of our website following any changes to this Agreement constitutes your acceptance of the new terms.

            Contact Us: If you have any questions about this Agreement, please contact us at info@sunsun.mn

            This agreement shall be governed by and construed in accordance with the laws of the state of Mongolian.

            By using this website, you acknowledge that you have read and understood this Agreement, and agree to be bound by its terms and conditions.
        </p>
    </div>
</section>
{% endblock main %}